<div class="container">
  <div class="title  bg-success rounded-pill p-2">
    <span class="h1 font-weight-normal text-white">Account Login</span>
  </div>
  <form action="/" method="post">
    <div class="form-group">
      <input type="text" class="form-control form-control-lg" name="username" placeholder="username" required>
      <input type="password" class="form-control form-control-lg mt-3" name="password" placeholder="password" required>
    </div>
    <button type="submit" class="btn btn-lg btn-success btn-block mt-4">Sign in</button>
  </form>
</div>